# Ignore huge dataset files (Teammates have their own data)
dataset/
*.tsv
*.csv
*.zip

# Ignore python caches and virtual environments
__pycache__/
*.py[cod]
.venv/
env/
venv/
.DS_Store

# Ignore outputs
output/
